<head>
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <!--GoogleFont-->
</head>
<div class="innerHTML">
  <div id="innerHeading">

    <p> What Drink?</p>

  </div>

  <mat-card id="ing-card">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Enter Ingredients" aria-label="Number" matInput [formControl]="myControl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient">
            <span> {{ ingredient }} </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </form>

    <form class="example-form">
      <mat-form-field>
        <mat-select placeholder="Lemon/Lime Juice?">
          <mat-option *ngFor="let juice of juices" [value]="juice.value">
            {{ juice.viewValue }}
            
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Glass" aria-label="Glass" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let glass of filteredCocktailGlasses | async" [value]="glass.name">
            <img style="vertical-align:middle;" aria-hidden src="{{glass.flag}}" height="25" />
            <span>{{ glass.name }}</span>

          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <br />


    </form>
    <div class="big-button"></div>
    <button id="proceed"> Find me a drink </button>
  </mat-card>


</div>