<head>
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <!--GoogleFont-->
</head>
<div class="innerHTML">
  <div id="innerHeading">

    <p> What Drink?</p>

  </div>
  <mat-card id="welcome"> 
    <form class="example-form">
      <p>Enter your ingredients below and be suggested with a cocktail</p>
    </form>
  </mat-card>

  <mat-card id="ing-card">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Enter Ingredients" aria-label="Number" matInput [formControl]="myControl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient">
            <span> {{ ingredient }} </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </form>

    <form class="example-form">
      <mat-form-field>
        <mat-select placeholder="Lemon/Lime Juice?">
          <mat-option *ngFor="let juice of juices" [value]="juice.value">
            <!-- *ngFor loop gets all instances of the juices object and displays the value property. Saves manually inputting each juice for example. -->
            {{ juice.viewValue | uppercase }}
            <img style="vertical-align:middle;" aria-hidden src="{{juice.juiceIcon}}" height="30" />
          </mat-option> 
        </mat-select>
      </mat-form-field>
    </form>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Glass" aria-label="Glass" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let glass of filteredCocktailGlasses | async" [value]="glass.name">
            <img *ngIf='showGlassware' style="vertical-align:middle;" aria-hidden src="{{glass.glassImage}}" height="30" />
            <span>{{ glass.name | uppercase }}</span>

          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <br />


    </form>
<form class="example-form">
<mat-form-field class="example-full-width">
<input matInput placeholder="Added form field" aria-label="empty" [matAutocomplete]=

</mat-form-field>

</form>
    <div class="UI-buttons"></div>
    <button class='btn hide-glassware' (click)='toggleGlassware()'>

      <p> {{showGlassware ? 'Hide' : 'Show'}} Glassware </p>
    </button>




  </mat-card>


</div>